Django>=5.0,<6.0
djangorestframework
djangorestframework-simplejwt
django-cors-headers
django-axes
drf-spectacular
dj-database-url
whitenoise
gunicorn
psycopg2-binary
requests
pillow
python-dotenv
weasyprint
africastalking